* {
  padding: 0;
  margin: 0;
}
ol,
li,
ul {
  list-style: none;
}
html,
body,
#app {
  height: 100%;
  font-size: 13px;
  min-width: 1366px;
}
a {
  text-decoration: none;
}
.el-form-item__label {
  color: #fff !important;
}

.el-container {
  height: 100%;
}
.main_content {
  box-sizing: border-box;
  width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 40px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #eee;
}
